<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coursework 1</title>

    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div id="instance">

        <header
        class="p-6 text-white bg-gray-800 flex justify-between items-center w-full"
      >
        <h4>Mobile Web Coursework 1</h4>

        <button
          v-on:click="toggleCart"
          class="text-white flex space-x-1 items-center disabled:opacity-50"
          :disabled="cartSize === 0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"
            />
          </svg>
          <span v-text="cartSize"></span>
        </button>
      </header>

      <main class="p-6 space-y-6" v-if="!showCart">
        <section id="filters" class="">
          <!-- Search -->

          <form>
            <label
              for="default-search"
              class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
              >Search</label
            >
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
              >
                <svg
                  aria-hidden="true"
                  class="w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                  ></path>
                </svg>
              </div>
              <input
                type="search"
                id="default-search"
                class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search lessons..."
                required
                v-model="searchValue"
              />
            </div>
          </form>
        </section>

        <div class="grid lg:grid-cols-4 gap-10">
          <aside class="space-y-8 w-full">
            <!-- Sort -->

            <div class="w-full">
              <h3 class="mb-4 font-semibold text-gray-900">Sort by</h3>
              <ul
                class="w-full text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              >
                <li
                  class="w-full rounded-t-lg border-b border-gray-200 dark:border-gray-600"
                >
                  <div class="flex items-center pl-3">
                    <input
                      id="subject"
                      type="radio"
                      value="subject"
                      name="sortBy"
                      v-model="sortBy"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                    />
                    <label
                      for="subject"
                      class="py-3 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Subject</label
                    >
                  </div>
                </li>
                <li
                  class="w-full rounded-t-lg border-b border-gray-200 dark:border-gray-600"
                >
                  <div class="flex items-center pl-3">
                    <input
                      id="location"
                      type="radio"
                      value="location"
                      name="sortBy"
                      v-model="sortBy"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                    />
                    <label
                      for="location"
                      class="py-3 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Location</label
                    >
                  </div>
                </li>
                <li
                  class="w-full rounded-t-lg border-b border-gray-200 dark:border-gray-600"
                >
                  <div class="flex items-center pl-3">
                    <input
                      id="price"
                      type="radio"
                      value="price"
                      name="sortBy"
                      v-model="sortBy"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                    />
                    <label
                      for="price"
                      class="py-3 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Price</label
                    >
                  </div>
                </li>
                <li
                  class="w-full rounded-t-lg border-b border-gray-200 dark:border-gray-600"
                >
                  <div class="flex items-center pl-3">
                    <input
                      id="availability"
                      type="radio"
                      value="availability"
                      name="sortBy"
                      v-model="sortBy"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                    />
                    <label
                      for="availability"
                      class="py-3 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Availability</label
                    >
                  </div>
                </li>
              </ul>
            </div>

            <!-- Order -->

            <div class="w-full">
              <h3 class="mb-4 font-semibold text-gray-900">Order by</h3>
              <ul
                class="w-full text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              >
                <li
                  class="w-full rounded-t-lg border-b border-gray-200 dark:border-gray-600"
                >
                  <div class="flex items-center pl-3">
                    <input
                      id="ascending"
                      type="radio"
                      value="asc"
                      name="orderBy"
                      v-model="orderBy"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                    />
                    <label
                      for="ascending"
                      class="py-3 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Ascending</label
                    >
                  </div>
                </li>
                <li
                  class="w-full rounded-t-lg border-b border-gray-200 dark:border-gray-600"
                >
                  <div class="flex items-center pl-3">
                    <input
                      id="descending"
                      type="radio"
                      value="desc"
                      name="orderBy"
                      v-model="orderBy"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                    />
                    <label
                      for="descending"
                      class="py-3 ml-2 w-full text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Descending</label
                    >
                  </div>
                </li>
              </ul>
            </div>
          </aside>

          <section id="lessons" class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 col-span-3 w-full">
            <div
              class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
              v-for="lesson in filteredLessons"
              :key="lesson._id"
            >
              <a href="#">
                <img
                  class="rounded-t-lg"
                  :src="'https://srija-coursework-2.herokuapp.com' + lesson.img"
                  :alt="lesson.subject"
                />
              </a>
              <div class="p-5">
                <a href="#">
                  <h5
                    class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white"
                  >
                    <span class="font-bold">Subject:</span> {{ lesson.subject }}
                  </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                  Location: {{ lesson.location }}
                </p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                  Price: £{{ lesson.price }}
                </p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                  Spaces: {{ lesson.spaces }}
                </p>
                <button
                  class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:opacity-30"
                  v-on:click="addToCart(lesson)"
                  v-bind:disabled="lesson.spaces === 0"
                >
                  Add to cart
                  <svg
                    aria-hidden="true"
                    class="w-4 h-4 ml-2 -mr-1"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </section>
        </div>
      </main>

      <main class="p-6 space-y-6" v-else>
        <section id="cart" class="grid grid-cols-3 gap-6 col-span-3">
          <div
            class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
            v-for="cartItem in cart"
            :key="cartItem._id"
          >
            <a href="#">
              <img
                class="rounded-t-lg"
                :src="'https://srija-coursework-2.herokuapp.com' + cartItem.img"
                :alt="cartItem.subject"
              />
            </a>
            <div class="p-5">
              <a href="#">
                <h5
                  class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white"
                >
                  <span class="font-bold">Subject:</span> {{ cartItem.subject }}
                </h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Location: {{ cartItem.location }}
              </p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Price: £{{ cartItem.price }}
              </p>
              <button
                class="flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                v-on:click="removeFromCart(cartItem._id)"
              >
                Remove from cart
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 ml-2 -mr-1"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </section>

        <section id="checkout">
          <form v-on:submit.prevent="checkout">
            <div class="mb-6">
              <label
                for="name"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Your name</label
              >
              <input
                type="text"
                id="name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="John Doe"
                v-model="name"
                required
              />
              <small class="text-sm text-red-500" v-if="nameError">{{ nameError }}</small>
            </div>
            <div class="mb-6">
              <label
                for="phone"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Your phone number</label
              >
              <input
                type="tel"
                id="phone"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="37278273678"
                v-model="phone"
                required
              />
              <small class="text-sm text-red-500" v-if="phoneError">{{ phoneError }}</small>
            </div>
            <button
              type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:opacity-30"
              :disabled="!isFormValid"
            >
              Checkout
            </button>
          </form>
        </section>
      </main>

    </div>

    <script src="./main.js"></script>
  </body>
</html>